html
,body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;
  font-family: 'Abel',Helvetica,Arial,Lucida,sans-serif;
}

/* Overlay (background) */
.overlay{
    height:100%;
    width:0;
    position:fixed; /* Stay in place */
    z-index:1; /* Sit on top */
    left:0;
    top:0;
    background: rgb(0,0,0,0.9);
    overflow-x:hidden; /* Disable scroll */
    transition: 0.5s;
}

/* Position content inside overlay */
.overlay-content{
    position:relative;
    top:25%;
    width:100%;
    text-align:center;
    margin-top:30px;
}

/* Nav links inside overlay */
.overlay a{
    padding:8px;
    text-decoration:none;
    font-size:7vh;
    color: #818181;
    display:block; /* Display block instead of inline */
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Hover -> change color */
.overlay a:hover, .overlay a:focus {
    color:#00c3ff;
    font-weight:bold;
}

/* Position close btn (top right) */
.overlay .closebtn{
    position:absolute;
    top:20px;
    right:45px;
    font-size:60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px){
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.footer {
    height: 10vh;
    width:100vw;
    background-color: #4fb9ff;
    display: flex;
    align-items: center;
    position: absolute;
    top:90vh;
    padding-left: 20px;
    padding-top: 5px;
  }

.header {
    position:sticky;
    display:flex;
    background-color: #eeeeee;
}

.header-button {
    margin-left:20px;
    margin-top:20px;
}

.home-text-container  {
  width: 100vw;
  height: 80vh;  
  display: flex;
}

.home-text {
  height: 70vh;
  width: 80%;
  margin: 20px 20px ;
  background-color: #ffffff;
  margin-left: 10%;
}