ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3992c5;
    text-align: center;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    background-color: #77c7f5;
    color: white;
    padding-left: 1%;
}

header:hover {    
    background-color: #77c7f5;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 83.2px;
    text-transform: lowercase;
}

header:hover:first-letter{
    text-transform: uppercase;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 20px;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
li a:hover {
    background-color: #3281af;
}

div {
    width: 100px;
    height: 100px;
    background: red;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    /* Standard syntax */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }
  
  div:hover {
    width: 300px;
  }
